{% extends "base.html" %}
{% block title %} Charts {% endblock %}
{% block content %}
    <!-- Breadcrumb start -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>

    <!-- Container-fluid start -->
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="card-columns cols-2">
          <!-- Chart 1 -->
          <div class="card">
            <div class="card-header">
              Number of orderes per month
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-1"></canvas>
              </div>
            </div>
          </div>
          <!-- Chart 2 / End Chart 1 -->
          <div class="card">
            <div class="card-header">
              Doughnut Chart
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-2"></canvas>
              </div>
            </div>
          </div>
          <!-- Chart 3 / End Chart 2 -->
          <div class="card">
            <div class="card-header">
              Number of orders per dish
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-3"></canvas>
              </div>
            </div>
          </div>
          <!-- Chart 4 / End Chart 3 -->
          <div class="card">
            <div class="card-header">
              Radar Chart
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-4"></canvas>
              </div>
            </div>
          </div>
          <!-- Chart 5 / End Chart 4 -->
          <div class="card">
            <div class="card-header">
              Restaurant booking overview
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-5"></canvas>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Polar Area Chart
              <div class="card-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas id="canvas-6"></canvas>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block customscripts %}
<!-- Chart.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<!-- Sending chart data to js file -->
<script type="text/javascript">
  sendData({{ orders_per_month|tojson }}, {{ orders_per_dish|tojson }}, {{booking_per_restaurant|tojson}})
</script>
{% endblock %}