{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
          <li class="breadcrumb-item active">Home</li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        
      <!-- Container-fluid start -->
      <div class="container-fluid">
        <!-- This is a page where you can insert the most important charts/tables/data -->
      </div>
      <!-- /.container-fluid -->
{% endblock %}