{% extends "base.html" %}
{% block title %} Tables {% endblock %}
{% block customstylesheets %} 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.css"/>
{% endblock %}
{% block content %}
  <!-- Breadcrumb start -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
    <li class="breadcrumb-item active">Tables</li>
  </ol>

  <!-- Container-fluid start -->
  <div class="container-fluid">
    <div class="animated fadeIn">
      <!-- Simple table -->
      <div class="row" style="position: relative;"> <!-- Row is not occupiyng whole car, why? -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Orders <!-- Simple table -->
            </div>
            <div class="card-body">
              <table id="courses" class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Time</th>
                    <th>Price</th>
                    <th>Order ready</th>
                    <th>Order delivered</th>
                    <th>Delivery method</th>
                    <th>Address ID</th>
                    <th>Tips</th>
                    <th>Discount</th>
                    <th>Total amount</th>
                    <th>Customer ID</th>
                    <th>Payment ID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                        <td>{{ order["order_id"]|default("Order ID unknown") }}</td>
                        <td>{{ order["time_of_purchase"]|default("Time of purchase unknown") }}</td>
                        <td>{{ order["price"]|default("Price unknown") }}</td>
                        <td>{{ order["order_ready"]|default("Order ready time unknown") }}</td>
                        <td>{{ order["order_delivered"]|default("Order deliverd time unknown") }}</td>
                        <td>{{ order["delivery_method"]|default("Delivery method unknown") }}</td>
                        <td>{{ order["address_id"]|default("Address ID unknown") }}</td>
                        <td>{{ order["tips"]|default("Tips unknown") }}</td>
                        <td>{{ order["discount"]|default("Discount unknown") }}</td>
                        <td>{{ order["total_amount_payed"]|default("Total amount payed unknown") }}</td>
                        <td>{{ order["customer_id"]|default("Customer ID unknown") }}</td>
                        <td>{{ order["payment_id"]|default("Payment ID unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Customers <!-- Striped table -->
            </div>
            <div class="card-body">
              <table id="customers" class="table table-striped">
                <thead>
                  <tr>
                    <th>Customer ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>Birthdate</th>
                    <th>Email</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                    <tr>
                        <td>{{ customer["customer_id"]|default("Customer ID unknown") }}</td>
                        <td>{{ customer["first_name"]|default("First name unknown") }}</td>
                        <td>{{ customer["last_name"]|default("Last name unknown") }}</td>
                        <td>{{ customer["phone"]|default("Phone unknown") }}</td>
                        <td>{{ customer["birthdate"]|default("Birthdate unknown") }}</td>
                        <td>{{ customer["email"]|default("Email unknown") }}</td>
                        <td>{{ customer["address_id"]|default("Address unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Courses <!-- Condensed table -->
            </div>
            <div class="card-body">
              <table id="courses" class="table">
                <thead>
                  <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Information</th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                    <tr>
                        <td>{{ course["course_id"]|default("Order ID unknown") }}</td>
                        <td>{{ course["course_name"]|default("Course Name unknown") }}</td>
                        <td>{{ course["price"]|default("Price unknown") }}</td>
                        <td>{{ course["category"]|default("Category unknown") }}</td>
                        <td>{{ course["information"]|default("Information unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
  </div>
  <!-- /.conainer-fluid -->
{% endblock %}
{% block customscripts %}
<script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.js"></script>
<script>
    // Enabling DataTable plug-in with no column sorting option
    $(document).ready(function() {
        $("#courses").DataTable({
            "ordering": false,
            "dom": 'ftp'
        });
        $("#customers").DataTable({
            "ordering": false,
            "dom": 'ftp'
        });
        $("#dishes").DataTable({
            "ordering": false,
            "dom": 'ftp'
        });
        // In order to make the table extend the full width of the card
        $("#courses").css("table-layout", "fixed");
        $("#customers").css("table-layout","fixed");
        $("#dishes").css("table-layout","fixed");
    });
</script>
{% endblock %}