{% extends "base.html" %}
{% block title %} Tables {% endblock %}
{% block customstylesheets %} 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.css"/>
{% endblock %}
{% block content %}
  <!-- Breadcrumb start -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
    <li class="breadcrumb-item active">Tables</li>
  </ol>

  <!-- Container-fluid start -->
  <div class="container-fluid">
    <div class="animated fadeIn">
      <!-- Simple table -->
      <div class="row" style="position: relative;"> <!-- Row is not occupiyng whole car, why? -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Orders <!-- Simple table -->
            </div>
            <div class="card-body">
              <table id="orders" class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Timestamp</th>
                    <th>Date</th>
                    <th>Order type</th>
                    <th>Customer ID</th>
                    <th>Dish ID</th>
                    <th>Delivery</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                        <td>{{ order["order_id"]|default("Order ID unknown") }}</td>
                        <td>{{ order["time_stamp"]|default("Timestamp unknown") }}</td>
                        <td>{{ order["date"]|default("Date unknown") }}</td>
                        <td>{{ order["order_type"]|default("Order type unknown") }}</td>
                        <td>{{ order["customer_id"]|default("Customer ID unknown") }}</td>
                        <td>{{ order["dish_id"]|default("Dish ID unknown") }}</td>
                        <td>{{ order["delivery"]|default("Delivery method unknown") }}</td>
                        <td>{{ order["price"]|default("Price unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Customers <!-- Striped table -->
            </div>
            <div class="card-body">
              <table id="customers" class="table table-striped">
                <thead>
                  <tr>
                    <th>Customer ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone</th>
                    <th>Birthdate</th>
                    <th>Email</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                    <tr>
                        <td>{{ customer["customer_id"]|default("Customer ID unknown") }}</td>
                        <td>{{ customer["f_name"]|default("First name unknown") }}</td>
                        <td>{{ customer["s_name"]|default("Last name unknown") }}</td>
                        <td>{{ customer["phone"]|default("Phone unknown") }}</td>
                        <td>{{ customer["birthdate"]|default("Birthdate unknown") }}</td>
                        <td>{{ customer["email"]|default("Email unknown") }}</td>
                        <td>{{ customer["c_address"]|default("Address unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Dishes <!-- Condesed table -->
            </div>
            <div class="card-body">
              <table id="dishes" class="table table-sm">
                <thead>
                  <tr>
                    <th>Dish ID</th>
                    <th>Dish name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for dish in dishes %}
                    <tr>
                        <td>{{ dish["dish_id"]|default("Dish ID unknown") }}</td>
                        <td>{{ dish["dish_name"]|default("Dish name unknown") }}</td>
                        <td>{{ dish["price"]|default("Price unknown") }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--/.col-->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Combined all Table <!-- Combined all table -->
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Date registered</th>
                    <th>Role</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Carwyn Fachtna</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Nehemiah Tatius</td>
                    <td>2012/02/01</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-danger">Banned</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Ebbe Gemariah</td>
                    <td>2012/02/01</td>
                    <td>Admin</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Eustorgios Amulius</td>
                    <td>2012/03/01</td>
                    <td>Member</td>
                    <td>
                      <span class="badge badge-warning">Pending</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Leopold Gáspár</td>
                    <td>2012/01/21</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                      <td>Carwyn Fachtna</td>
                      <td>2012/01/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Nehemiah Tatius</td>
                      <td>2012/02/01</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-danger">Banned</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Ebbe Gemariah</td>
                      <td>2012/02/01</td>
                      <td>Admin</td>
                      <td>
                        <span class="badge badge-secondary">Inactive</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Eustorgios Amulius</td>
                      <td>2012/03/01</td>
                      <td>Member</td>
                      <td>
                        <span class="badge badge-warning">Pending</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Leopold Gáspár</td>
                      <td>2012/01/21</td>
                      <td>Staff</td>
                      <td>
                        <span class="badge badge-success">Active</span>
                      </td>
                    </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
  </div>
  <!-- /.conainer-fluid -->
{% endblock %}
{% block customscripts %}
<script type="text/javascript" src="https://cdn.datatables.net/t/bs/dt-1.10.11/datatables.min.js"></script>
<script>
    // Enabling DataTable plug-in with no column sorting option
    $(document).ready(function() {
      $("#orders").DataTable({
          "ordering": false,
          "dom": 'ftp'
      });
      $("#customers").DataTable({
          "ordering": false,
          "dom": 'ftp'
      });
      $("#dishes").DataTable({
          "ordering": false,
          "dom": 'ftp'
      });
      // In order to make the table extend the full width of the card
      $("#orders").css("table-layout", "fixed");
      $("#customers").css("table-layout","fixed");
      $("#dishes").css("table-layout","fixed");
    });
</script>
{% endblock %}